<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <queries>
        <package android:name="iSurvey.Android" />
        <package android:name="com.clickworker.clickworkerapp" />
        <package android:name="com.fieldnation.android" />
        <package android:name="net.fieldagent" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Linked Jobs Route Planner"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinkedJobsRoutePlanner">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>

